
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: content-box;
    background: #004b9f;
}
::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}
.logout{
    position: fixed;
    bottom:70px;
    right: 60px;
    border: 0;
    z-index: 2;
    border-radius: 15px;
    height: 50px;
    width: 110px;

}

/*----- main -------*/

.content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 290px));
    grid-template-rows: repeat(auto-fit,300px);
    justify-content: center;
    justify-items: center;
    column-gap: 15px;
    row-gap: 40px;
    padding: 80px 60px;
    min-height: 400px;
}
/*-------barra de pesquisa------*/
.barra-pesquisa{
    position: absolute;
    right: 200px;
    top: 0;
    z-index: 3;
    justify-content: right;
    align-items: center;
    align-content: center;
    transform: translateX(100px);
    transition: 1s all;


}
.barra-pesquisa-form{
    flex-wrap: nowrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 1s all;
}
.button-search{
    display: flex;
    border: 0;
    background: #000000;
    margin: 0 10px 0 0;
    box-shadow: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    transition: 1s all;

}
.pesquisa form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: 1s all;
}

.pesquisa{
    margin: auto 0;
    display: flex;
    flex-wrap: nowrap;
    background: black;
    width: 45px;
    border-radius: 0 0 10px 10px;
    padding: 0;
    transition: 1s all;

}

.text{
    width: 0;
    outline:none;
    font-size: 17px;
    border: 0;
    border-radius: 10px;
    background: transparent;
    color: white;
    transition: 1s all;
}

.barra-pesquisa:hover .pesquisa{
    padding: 10px;
    width: 250px;
    border-bottom-left-radius: 10px ;
}
.barra-pesquisa:hover .button-search{

    padding: 5px 20px;
    background: #1912d7;
    margin-right: 10px;
    border-radius: 10px;
}
.barra-pesquisa:hover .text{
    display: inline-block;
    width: 75%;
    padding: 5px 5px;

}
/*-------barra de pesquisa------*/


.tabela{
    position: relative;
    display: inline-table;
    background: rgba(255, 255, 255, 0.4);
    padding: 0 20px;
    width: 230px;
    min-height: 300px;
    border-radius: 10px;
    transition: .5s;
}
.tabela div{
    position: relative;
    display: grid;
    grid-auto-columns: 215px;
    grid-auto-rows: 100px 10px 60px auto;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.tabela p{
    color: black;
}
.tabela a{
    text-decoration: none;
}
.tabela p:first-letter{
    text-transform: uppercase;
}
.tabela img {
    align-self: flex-end;
    width: 50px;
    height: 50px;
    border-radius: 100%;

}
.id{
    font-size: 25px;
    margin: 0;

}
.nome{
    margin: 0;
    font-size: 25px;
    font-weight: 700;

}
.titulo{
    align-self: start;
    margin: 0 0 20px 0;
    font-size: 17px;
    font-weight: 400;
}
p.nome:first-letter,
p.titulo:first-letter{
    text-transform: uppercase;
}


.tabela:hover{
    transform: scale(1.01);

}

.cjt-paginas{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #000;
    margin: 0 2px;
}
.activePgn{
    background: #0bb;
}
