
*{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}
.logout{
    position: fixed;
    bottom:70px;
    right: 60px;
    border: 0;
    z-index: 2;
    border-radius: 15px;
    height: 50px;
    width: 110px;

}
.banner{
    position: relative;
    width: 100%;
    height: 110px;
    background: rgb(0, 0, 0);
}

.banner img{
    position: absolute;
    display: inline;
    top: -3px;
    left: 60px;
    width: 110px;
    height: 110px;
    transform: scale(1.4);
}
.banner ul{
    position: absolute;
    top: 30px;
    right: 60px;
}

.banner ul li{
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}

.banner ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
}

.banner ul li a:after{
    content: "";
    position: absolute;
    left:50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background: #0092a9;
    transition: 0.4s;
}
.banner ul li a:hover{
    color: rgb(59, 255, 255);
}
.banner ul li a:hover:after{
    left:0;
    width: 100%;
}

/*----- main -------*/

main {
    position: relative;
    padding: 30px 200px;
    background: linear-gradient(90deg, #ff6ff2, #5700b7);
    min-height: 400px;
}
/*-------barra de pesquisa------*/
.barra-pesquisa{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    right: 200px;
    top: 0;
    z-index: 3;
    justify-content: right;
    align-items: center;
    align-content: center;
    transform: translateX(100px);
    transition: 1s all;


}
.barra-pesquisa-form{
    display: flex;
    background: black;
    flex-wrap: nowrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 1s all;
}
.barra-pesquisa svg{
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
    transform: translate(5px,-10px);
    transition: 1s all;

}
.barra-pesquisa form{
    width: 100%;
    transition: 1s all;
}

.pesquisa{
    margin: auto 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    background: black;
    width: 0;
    transition: 1s all;

}

.text{
    display: none;
    width: 75%;
    padding: 5px 5px;
    outline:none;
    font-size: 17px;
    border: 0;
    border-radius: 10px;
    background: transparent;
    color: white;
}
.enviar{
    display: none;
    height: 30px;
    width: 50px;
    margin-left: 10px;
    border: 0;
    border-radius: 7px;
    background: #a592ff;
}


.barra-pesquisa:hover .pesquisa{
    width: 360px;
    border-bottom-right-radius: 10px ;
}
.barra-pesquisa:hover svg{
    transform:translate(5px,0);
}
.barra-pesquisa:hover .text{

    display: inline-block;

}
.barra-pesquisa:hover .enviar{
    display: inline-block;
}

/*-------barra de pesquisa------*/


.tabela{
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 10px solid #76c1ae;
    transition: .5s;
}

.tabela:nth-child(even){
    border-right-color: #cc3232;
}
.tabela:nth-child(3n) {
    border-right-color: #3247cc;
}

.tabela p{
    position: absolute;
    display: inline-block;
    color: black;
}
.tabela p:first-letter{
    text-transform: uppercase;
}
.id{
    left: 25px;
    top: 20px;
    font-size: 25px;
    margin: 0;

}
.nome{
    margin: 0;
    top: 1em;
    left: 5em;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}
.titulo{
    margin: 0;
    font-size: 18px;
    bottom: 2em;
    left: 8.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    max-width: 70%;
    text-align: left;
}
p.nome:first-letter,
p.titulo:first-letter{
    text-transform: uppercase;
}


.tabela:hover{
    transform: scale(1.01);
    background: rgba(157, 255, 229, 0.78);
}

.tabela:hover:nth-child(even){
  background: rgba(255, 89, 89, 0.7);
}
.tabela:hover:nth-child(3n){
   background: rgba(87, 108, 255, 0.66);
}