*{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
}
html{
    height: 100%;

}
body{
    box-sizing: content-box;
    height:100%;

}

::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}

.logout{
    position: fixed;
    width: 120px;
    height: 50px;
    right: 40px;
    bottom: 60px;
    z-index: 2;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #b000d7, #6500d5, #002cda);
    background-size: 800px 500px;
    transition: .3s;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.logout:hover{
    animation: gradient 3s infinite;
    transform: scale(1.01);
}

.logout:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.banner{
    position: relative;
    width: 100%;
    height: 110px;
    background: rgb(0, 0, 0);
}

.banner img{
    position: absolute;
    display: inline;
    top: -3px;
    left: 60px;
    width: 100px;
    height: 100px;
    transform: scale(1.4);
}
.banner ul{
    position: absolute;
    top: 35px;
    right: 60px;
}

.banner ul li{
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}

.banner ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
}

.banner ul li a:after{
    content: "";
    position: absolute;
    left:50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background: #0092a9;
    transition: 0.4s;
}
.banner ul li a:hover{
    color: rgb(59, 255, 255);
}
.banner ul li a:hover:after {
    left: 0;
    width: 100%;
}
/*-------barra de pesquisa------*/
.barra-pesquisa{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    right: 200px;
    top: 0;
    z-index: 3;
    justify-content: right;
    align-items: center;
    align-content: center;
    transform: translateX(100px);
    transition: 1s all;


}
.barra-pesquisa-form{
    display: flex;
    background: black;
    flex-wrap: nowrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 1s all;
}
.barra-pesquisa svg{
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
    transform: translate(5px,-10px);
    transition: 1s all;

}
.barra-pesquisa form{
    width: 100%;
    transition: 1s all;
}

.pesquisa{
    margin: auto 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    background: black;
    width: 0;
    transition: 1s all;

}

.text{
    display: none;
    width: 75%;
    padding: 5px 5px;
    outline:none;
    font-size: 17px;
    border: 0;
    border-radius: 10px;
    background: transparent;
    color: white;
}
.enviar{
    display: none;
    height: 30px;
    width: 50px;
    margin-left: 10px;
    border: 0;
    border-radius: 7px;
    background: #a592ff;
}


.barra-pesquisa:hover .pesquisa{
    width: 360px;
    border-bottom-right-radius: 10px ;
}
.barra-pesquisa:hover svg{
    transform:translate(5px,0);
}
.barra-pesquisa:hover .text{

    display: inline-block;

}
.barra-pesquisa:hover .enviar{
    display: inline-block;
}

/*-------barra de pesquisa------*/


.content{
    position: relative;
}

.header-forum{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 400px;
    background: linear-gradient(to left top , #009dff, #c800ff);
    padding: 10px 100px;
}
.header-forum a{
    text-decoration: none;
    color: black;
}
.main-forum a, .footer-forum a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}
.forum-linguagem-html,.forum-linguagem-java, .forum-linguagem-js{
    background: rgba(255, 255, 255, 0.3);
    width: 300px;
    height: 200px;
    top: 25%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.06);
    transition: .2s;
}

.forum-linguagem-html:hover,.forum-linguagem-java:hover, .forum-linguagem-js:hover{
    transform: scale(1.01);
}


.forum-linguagem-java{
    left: 10%;
}
.forum-linguagem-java p{
    position: relative;
    text-align: center;
    top: 45%;
}
.forum-linguagem-html{
    left: 40%;
}
.forum-linguagem-html p {
    position: relative;
    text-align: center;
    top: 45%;
}

.forum-linguagem-js{
    left: 70%;
}

.forum-linguagem-js p {
    position: relative;
    text-align: center;
    top: 45%;
}

.main-forum{
    position: relative;
    background: linear-gradient(to left top , #f847ff, #c800ff);
    padding: 50px 50px 70px 50px;
}

.main-forum h3, .footer-forum h3{
    position: relative;
    display: block;
    text-align: center;
    font-size: 27px;
    margin-bottom: 100px;
    font-weight: 600;
}

.perguntas{
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    left: 20%;
    margin-bottom: 45px;
    max-width: 60%;
    min-height: 160px;
    border-radius: 15px 15px 0 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.09);
    transition: .2s ease-in;
}

.perguntas:hover{
    transform: scale(1.005);
}

.main-forum ul, .footer-forum ul{
    list-style: none;
}

.perguntas .tema{
    margin:30px 0 0 30px;
    font-size: 20px;
}

.perguntas .ask{
    max-width: 600px;
    max-height: 60px;
    font-size: 30px;
    margin: 20px 0 0 100px;
}

.perguntas .respostas{
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.footer-forum{
    position: relative;
    background: linear-gradient(to left top , #8f07ff, #d802fc);
    padding: 50px 50px 100px 50px;
}