html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}

.logout{
    position: fixed;
    width: 90px;
    height: 40px;
    right: 35px;
    bottom: 70px;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(45deg, #b000d7, #6500d5, #002cda);
    background-size: 800px 500px;
    transition: .3s;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.logout:hover{
    animation: gradient 3s infinite;
    transform: scale(1.01);
}

.logout:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}

/*-----cabeça-----*/

header{
    position: relative;
    height: 550px;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll;
}
.universidade img{
    display: block;
    position: relative;
    width: 100%;
    max-height: 50%;
}
.banner{
    position: relative;
    width: 100%;
    padding: 20px 0;
}
.banner img{
    transform: scale(4);
    padding-left: 30px;

}

.banner ul, .banner li{
    display: inline;

}

.banner ul a{
    position: relative;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-decoration: none;
    color: #212121;
}
.banner ul a:after{
    content: "";
    position: absolute;
    left:50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background: #2849b9;
    transition: 0.4s;
}
.banner ul a:hover{
    color: #194570;
}
.banner ul a:hover:after{
    left:0;
    width: 100%;
}
.banner li{
    padding-left: 50px;
    font-size: 20px;
    text-decoration: none;
}

.banner ul{
    right: 5%;
    position: absolute;
    margin: 7px 0 0;
}
/*-----cabeça - frase-----*/
.sobre{
    font-family: 'Noto Sans Tamil Supplement', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    top: 30px;
    color: #030303;
    font-size: 40px;
    margin: auto 25%;
}

.inicial{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 650px;
    height: 230px;
}

.inicial:before{
    content: "";
    position: relative;
    height: 2px;
    width: 2px;
    color: #7517ff;


}
.sobre p span{
    color: #6d28ea;
}

.autor{

    left: 0;
    top: 50%;
    font-size: 15px;
    margin-bottom: 10px;
    transition: .1s;
}

.sobre:before{
    content:"";
    position: absolute;
    background: #7300ff;
    height: 2px;
    width: 0;
    left: -20px;
    top: 50%;
    transition: all .5s;
}

.sobre:hover:before{
    top:0;
    height: 280px;
    width: 3px;


}


.botao{

    cursor: pointer;
    left: 0;
    bottom: 0;
    width: 140px;
    height: 55px;
    border:none;
    border-radius: 15px;
    font-family: 'Anek Devanagari', sans-serif;
    background: linear-gradient(-45deg,rgba(36, 59, 138),#2849b9, #2c52d5, #1281be);
    background-size: 800% 400%;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.botao:hover{
    animation: gradient 3s infinite;
    transform: scale(1.02);
}

.botao:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/*-----conteudo principal-----*/


/*-----curso-----*/
.curso{

    background: #000000;
    text-align: center;
    margin-bottom: 70px;
    color: white;
    padding: 25px 70px 25px 70px;

}
.curso h2{
    padding-top: 70px;
    font-family: 'Poppins', sans-serif;

}
.caixas{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 90px;
    margin: 40px 10px;

}
.caixas-1,.caixas-2,
.caixas-3{
    margin: 25px 0;
}
.caixas h4{
    margin-bottom: 52px;
    font-family: 'Montserrat', sans-serif;
}

.caixas p{
    line-height: 1.6em;
    font-size: 14px;
    font-family: 'Anek Devanagari', sans-serif;
}

.bloco1,.bloco2,.bloco3{
    box-shadow: 11px 11px 29px rgba(14, 14, 14, 0.89),
    -11px -11px 29px rgba(19, 19, 19, 0.91);
    text-align: center;
    padding: 20px 20px 60px 20px;
    width: 200px;
    height: 300px;
    top:80px;
    transition: 0.2s;
    border-radius: 10px;


}

.bloco1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;

}
.bloco2{

    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

}

.bloco3{

    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

.bloco1:hover{
    color: #00ffd1;
    transform: scale(1.03);
    box-shadow: 0 0 10px 1px #03e9f4 ;

}

.bloco2:hover{
    color: #f466ff;
    transform: scale(1.03);
    box-shadow: 0 0 10px 1px #f466ff;

}

.bloco3:hover{
    color: #f9ff2d;
    transform: scale(1.03);
    box-shadow: 0 0 10px 1px #f9ff2d;

}


.bloco1 .linguagens,
.bloco2 .linguagens,
.bloco3 .linguagens{
    cursor: pointer;
    bottom: 5px;
    left: 30px;
    display: none;
    transition: 1s ease-in-out;
}

.bloco1:hover .linguagens,
.bloco2:hover .linguagens,
.bloco3:hover .linguagens{
    display: block;
    cursor: pointer;
    opacity: 1;
}

.curso button{
    position: absolute;
    cursor: pointer;
    bottom: -20px;
    left: 45%;
    font-size: 15px;
    padding: 15px 25px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 25px;
    color: white;
    background: right, linear-gradient(to top left,darkorchid, #d25ee0) ;
}

.curso a{
    display: flex;
    justify-content: center;
}

/*-----forum-----*/

.forum{
    color: white;
    padding: 25px 70px 100px 70px;
    background: #0a0013;
    text-align: center;
    margin-top: -50px;
}
.forum h2{
    padding-top: 70px;
    font-family: 'Poppins', sans-serif;
}

.bloco4,
.bloco5,
.bloco6{
    display: inline-block;
    box-shadow: 21px 21px 42px #07000e,
    -21px -21px 42px #0d0018;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 20px 20px 60px 20px;
    top:80px;
    transition: 0.2s;
    border-radius: 10px;

}
.bloco4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;

}
.bloco5{

    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

}

.bloco6{

    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

.bloco4 h4,
.bloco5 h4,
.bloco6 h4{
    transform: translateY(40px);
    transition: 1s;
}

.bloco4 p,
.bloco5 p,
.bloco6 p{
    transform: translateY(70px);
    opacity: 0;
    transition: all 1s ease-in-out;

}
.bloco4:hover h4,
.bloco5:hover h4,
.bloco6:hover h4{
    transform: translateY(0);

}

.bloco4:hover p,
.bloco5:hover p,
.bloco6:hover p{
    transform: translateY(0);
    opacity: 1;

}



.forum .bloco4:hover{
    color: #ff2d2d;
    box-shadow: 0 0 10px 1px #ff2d2d;
}

.forum .bloco4:hover p{

}
.forum .bloco5:hover{
    color: #65ff43;
    box-shadow: 0 0 10px 1px #65ff43;
}


.forum .bloco6:hover{
    color: #3361ff;
    box-shadow: 0 0 10px 1px #3361ff;
    height: 120px;
}
.forum a{
    display: flex;
    justify-content: center;
}
.button{
    position: relative;
    font-family: 'Anek Devanagari', sans-serif;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 25px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 25px;
    color: white;
    background: right, linear-gradient(to top left,darkorchid, #d25ee0) ;
}

.curso button:active,.forum button:active{
    transform: scale(0.95);
}

