*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;

}
body{
    box-sizing: content-box;
    height:100%;

}

::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}

.logout{
    position: fixed;
    width: 120px;
    height: 50px;
    right: 40px;
    bottom: 60px;
    z-index: 2;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #b000d7, #6500d5, #002cda);
    background-size: 800px 500px;
    transition: .3s;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.logout:hover{
    animation: gradient 3s infinite;
    transform: scale(1.01);
}

.logout:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/*------------main-----------*/

.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c3993;
    width: 100%;
    min-height: 100%;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 50px 0 #00000069;
    margin: 70px 25px;
    border-radius: 20px;
}

.one-main{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 160px auto minmax(185px,auto);
    width: 100%;
    height: 270px;
    color: white;
    background: rgba(17, 17, 17, 0.96);
    border-radius: 20px 20px 0 0;
}

.two-main{
    align-self: end;
    margin-bottom: 50px;
}
.inscrever{
    position: relative;
    align-self: end;
    justify-self: end;
    width: 130px;
    height: 40px;
    background: #1c3993;
    text-align: center;
    border-radius: 5px;
    bottom: 90px;
    right: 50px;
    transition: 0.5s;
}

.inscrever:hover{
    background: #192f7c;
}

.inscrever a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.one-main img{
    align-self: end;
    width: 120px;
    border-radius: 100%;
    margin: 0 0 50px 20px;
}

.nome{
    position: relative;
}
.nome h4{
    font-size: 35px;
}

.titulo{
    position: relative;
}
.titulo p{
    margin-left: 10px;
    font-size: 17px;
}
.nome:first-letter{
    text-transform: uppercase;
}
.titulo:first-letter{
    text-transform: uppercase;
}

.menu-aulas{
    position: relative;
    width: 100%;
}
details{
    transition: 0.5s;
}
details summary{
    position: relative;
    width: 100%;
    background: rgba(24, 24, 24, 0.26);
    padding: 20px 10px 20px 20px;
    font-size: 23px;
    list-style: none;
    border-radius: 0 0 20px 20px;
}
 details summary:after{
     content: "+";
     position: absolute;
     font-size: 2rem;
     line-height: 1.3;
     right: 30px;
     font-weight: 200;
     transform-origin: center;
     transition: 200ms linear;
 }

details[open] summary:after{
    transform: rotate(45deg);
}

details[open] summary{
    border-radius: 0;
}



details ul{
    list-style: none;
    background: rgba(24, 24, 24, 0.49);
    padding: 0;
    margin: 0;
    border-radius: 0 0 20px 20px;
}
 .menu-aulas a{
     position: relative;
     display: block;
     width: 100%;
     height: 100%;
     padding: 15px 15px 15px 30px;
     text-decoration: none;
     color: #000;
}

details li{
    font-size: 23px;


}
details li:hover{
    background: rgba(24, 24, 24, 0.19)
}




