*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
html{
    height: 100%;

}
body{
    box-sizing: content-box;
    height:100%;

}

::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}

.logout{
    position: fixed;
    width: 120px;
    height: 50px;
    right: 40px;
    bottom: 60px;
    z-index: 2;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #b000d7, #6500d5, #002cda);
    background-size: 800px 500px;
    transition: .3s;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.logout:hover{
    animation: gradient 3s infinite;
    transform: scale(1.01);
}

.logout:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.banner{
    position: relative;
    width: 100%;
    height: 110px;
    background: rgb(0, 0, 0);
}

.banner img{
    position: absolute;
    display: inline;
    top: -3px;
    left: 60px;
    width: 100px;
    height: 100px;
    transform: scale(1.4);
}
.banner ul{
    position: absolute;
    top: 35px;
    right: 60px;
}

.banner ul li{
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}

.banner ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
}

.banner ul li a:after{
    content: "";
    position: absolute;
    left:50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background: #0092a9;
    transition: 0.4s;
}
.banner ul li a:hover{
    color: rgb(59, 255, 255);
}
.banner ul li a:hover:after {
    left: 0;
    width: 100%;
}
/*------------------------------------*/
.content{
    position: relative;
    background: linear-gradient(#0c18ff , #be00ff ) ;
    padding: 40px 190px;
}
.pergunta{
    position: relative;
    background: rgba(255,253,254,0.5);
    display: inline-block;
    width: 65%;
    height: 140px;
    top: 140px;
    left: 22%;
    margin-bottom: 200px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    transition: .3s;
}
.pergunta:hover{
    transform: scale(1.01);
}
.tema{
    position: absolute;
    font-size: 20px;
    top: 20px;
    left:50px;
}
.question{
    position: absolute;
    font-size: 23px;
    top: 45%;
    left:10%;
}
.table-responder{
    position: relative;
    display: inline-block;
    top: 0;
    left: 5%;
    width: 70%;
    height: 400px;
    margin-bottom: 40px;

}

.table-responder span{
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 25px;
}

.table-responder textarea{
    position: absolute;
    display: block;
    margin: 10px auto;
    top: 100px;
    left: 50px;
    width: 80%;
    height: 120px;
    border: 0;
    outline: none;
    border-radius: 10px;
    resize: none;
    font-size: 18px;
}
.table-responder input{
    position: absolute;
    display: block;
    bottom: 90px;
    right: 110px;
    width: 80px;
    height: 45px;
    border: 0;
    border-radius: 10px;
    background: #8400c2;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    transition: .3s;
}

.table-responder input:active{
    transform: scale(1.04);
}

.respostas{
    position: relative;
    margin-top: 80px;
    bottom: 90px;
}
.totalRespostas{
    position: relative;
    font-size: 20px;
    margin-bottom: 50px;
    display: block;
    left:40px;
    top:40px
}
.totalRespostas:after{
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(to right , #cb70ff 17%,black 17%);
    height: 1px;
    top: -50px;
}
.caixas-respostas{
    position: relative;
    width: 60%;
    height: 130px;
    background: rgba(255,253,254,0.5);
    left: 20%;
    top: 80px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.caixas-respostas:hover{
    transform: scale(1.01);
}

.response{
    position: absolute;
    list-style: none;
    box-sizing: border-box;
    top: 45%;
    left: 25%;
    width: 60%;
}
.user{
    position: absolute;
    list-style: none;
    top: 20px;
    left: 40px;
}


