*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
html{
    height: 100%;

}
body{
    box-sizing: content-box;
    background: linear-gradient(#dc96ff,#6500d5);
    overflow: hidden;

}

::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}

.logout{
    position: fixed;
    width: 120px;
    height: 50px;
    right: 40px;
    bottom: 60px;
    z-index: 2;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #b000d7, #6500d5, #002cda);
    background-size: 800px 500px;
    transition: .3s;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.logout:hover{
    animation: gradient 3s infinite;
    transform: scale(1.01);
}

.logout:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.banner{
    position: relative;
    width: 100%;
    height: 110px;
    background: rgb(0, 0, 0);
}

.banner img{
    position: absolute;
    display: inline;
    top: -3px;
    left: 60px;
    width: 100px;
    height: 100px;
    transform: scale(1.4);
}
.banner ul{
    position: absolute;
    top: 35px;
    right: 60px;
}

.banner ul li{
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}

.banner ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
}

.banner ul li a:after{
    content: "";
    position: absolute;
    left:50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background: #0092a9;
    transition: 0.4s;
}
.banner ul li a:hover{
    color: rgb(59, 255, 255);
}
.banner ul li a:hover:after {
    left: 0;
    width: 100%;
}
.content{
    position: relative;
    height: content-box;
}

.content-mensagem{
    background: #243b55;
    position: fixed;
    width: 70%;
    height: 61.8%;
    top: 160px;
    bottom: 185px;
    left: 15%;
    overflow-y: scroll;
    border-top-left-radius: 20px;
}

.form-mensagem{
    display: flex;
    flex-wrap: wrap;
    flex-basis: content-box;

}
.form-mensagem-other{
    display: flex;
    flex-direction: row-reverse;
}
.mensagem-other{
    display: flex;
    margin: 20px 40px 0 40px;
    padding: 20px 10px;
    background: rgba(255,253,254,0.3);
    border-radius: 10px 0 10px 10px;
}

.mensagem{
    display: flex;
    margin: 20px 40px 0 40px;
    padding: 20px 10px;
    background: rgba(255,253,254,0.13);
    border-radius: 0 10px 10px 10px;
}
.mensagem p,.mensagem-other p{
    display: flex;
    max-width: 500px;
}

.form{
    position:fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    height: 80px;
    bottom: 44px;
    z-index: 9999;
    background: #20354d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.text{
    position: absolute;
    width:80%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    left: 15px;
    top: 18%;
    outline: none;
    font-size: 20px;
    border-spacing: 10px;
    letter-spacing: 1px;
    padding: 0 20px 0 20px;
    background: rgba(255,253,254,0.5);
}
.enviar{
    position: absolute;
    top: 20%;
    right: 20px;
    width: 10%;
    height: 45px;
    border: 0;
    border-radius: 10px;
    background: #a652ff;
    font-size: 15px;
    outline: none;
    transition: .3s;
}

.enviar:focus{
    transform: scale(0.95);
}