*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}
html{
    height: 100%;

}
body{
    box-sizing: content-box;
    height: 100%;
    background: #2e98bb;
    overflow: hidden;

}

::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}

.logout{
    position: fixed;
    width: 120px;
    height: 50px;
    right: 40px;
    bottom: 60px;
    z-index: 2;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #b000d7, #6500d5, #002cda);
    background-size: 800px 500px;
    transition: .3s;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.logout:hover{
    animation: gradient 3s infinite;
    transform: scale(1.01);
}

.logout:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
/*---------Body-------*/
.content{
    position: relative;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixamensagem{
    position: relative;
    width: 70%;
    height: 80%;
}

.sala{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: #00162f;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
}

.curso{
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 40px;
    color: #e3e3e3;
}
.titulo{
    font-size: 18px;
    margin-left: 55px;
    color: #bbbbbb;
}


.content-mensagem{
    background: #0a223d;
    display: block;
    width: 100%;
    height: 80%;
    bottom: 80px;
    padding-bottom: 10px;
    overflow-y: scroll;
}

.form-mensagem{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.form-mensagem-other{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.mensagem-other{
    display: flex;
    margin: 20px 40px 0 40px;
    padding: 20px 10px;
    background: rgba(255,253,254,0.3);
    border-radius: 10px 10px 10px 0;
}

.mensagem{
    display: flex;
    margin: 20px 40px 0 40px;
    padding: 20px 10px;
    background: rgba(20, 129, 62, 0.678);
    border-radius: 10px 10px 0 10px;
}
.mensagem p,.mensagem-other p{
    display: flex;
    max-width: 500px;
}

.form{
    position: relative;
    width: 100%;
    height: 80px;
    bottom: 0;
    background: #00162f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.form form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}
.text{
    position: relative;
    width:100%;
    min-width: 100px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    border-spacing: 10px;
    letter-spacing: 1px;
    padding: 0 20px 0 20px;
    margin: 0 10px;
    background: rgba(255,253,254,0.5);
}
.enviar{
    position: relative;
    min-width: 70px;
    min-height: 45px;
    margin: 0 10px;
    border: 0;
    border-radius: 10px;
    background: #a652ff;
    font-size: 15px;
    outline: none;
    transition: .3s;
}

.enviar:focus{
    transform: scale(0.95);
}