*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;

}
body{
    box-sizing: content-box;
    height:100%;

}

::-webkit-scrollbar{
    width: 8px;
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb{
    background: #aa00ff;
    border-radius: 10px;
}

.logout{
    position: fixed;
    width: 120px;
    height: 50px;
    right: 40px;
    bottom: 60px;
    z-index: 2;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #b000d7, #6500d5, #002cda);
    background-size: 800px 500px;
    transition: .3s;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.logout:hover{
    animation: gradient 3s infinite;
    transform: scale(1.01);
}

.logout:active {
    animation: gradient 3s infinite;
    transform: scale(0.95);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
/*------------------------------------*/
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c6a3ff;
    padding: 80px 0;

}
.pergunta {
    position: relative;
    width: 65%;
    margin: 0 0 40px 0;
    padding: 40px 0;
}

.tema{
    position: relative;
    font-size: 23px;
    font-weight: 600;
    margin:0 0 30px 0;
}
.question{
    position: relative;
    font-size: 19px;
}
.table-responder{
    position: relative;
    display: inline-block;
    width: 65%;
    min-width: 350px;
    margin-bottom: 70px;
}

.table-responder textarea{
    position: relative;
    display: block;
    width: 97%;
    height: 50px;
    padding: 10px;
    border: 0;
    outline: none;
    border-radius: 10px;
    resize: none;
    font-size: 18px;
}
.table-responder input{
    position: relative;
    width: 80px;
    height: 45px;
    left: 87%;
    border: 0;
    border-radius: 10px;
    background: #8400c2;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    margin: 30px 0 0 0;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    transition: .3s;
}

.table-responder input:active{
    transform: scale(1.04);
}

.respostas{
    position: relative;
    width: 65%;
    min-width: 350px;
}
.totalRespostas{
    position: relative;
    font-size: 20px;
    margin-bottom: 50px;
}
.totalRespostas:after{
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(to right , #cb70ff 17%,black 17%);
    height: 1px;
    top: -50px;
}
.caixas-respostas{
    display: flex;
    flex-direction: column-reverse;
}
.caixas-respostas{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90px;
    background: rgba(16, 16, 16, 0.7);
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    color: #dadada;
    transition: 0.3s;
}
.caixas-respostas:hover{
    transform: scale(1.01);
}

.response{
    padding: 20px 30px 10px 30px;
}
.user{
    align-self: end;
    padding: 10px;
}
.user, .user p{
    position: relative;
    display: inline;
}


