<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Erro - Biblioteca A. Pontes</title>
  <link rel="stylesheet" href="/css/erroPage.css">
    <link rel="icon" href="/img/logo.png">
</head>
<body>
  <header>
    <div class="banner">
        <a href="/home"><img src="/img/logo.png" width="30" height="30" alt="logo"></a>
      <ul>
        <li><a href="/cursos">Cursos</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/salas">Salas</a></li>
        <li><a rel="index" href="../perfil">Perfil</a></li>
      </ul>
    </div>
  </header>

  <main>
      <div class="image">
          <img src="/img/erroPage.png" alt="Mascote erro">
      </div>
    <div th:if="${naoAutorizado}" class="erro">
      Esse usuário não é autorizado a acessar essa página<br>volte a página <a href="/">home</a>
    </div>

   <div th:if="${notFound}" class="erro">
      Essa página não existe<br> volte a página <a href="/">home</a>
    </div>

    <div th:if="${internalErro}" class="erro">
      Algum erro aconteceu no servidor, desculpe<br> volte a página <a href="/">home</a>
    </div>

    <div th:if="${outroErro}" class="erro">
      Um erro aconteceu : erro <span th:text="${codigoErro.toString()}"></span><br> volte a página <a href="/">home</a>
    </div>
  </main>

  <div th:replace="/shared/footer">

  </div>

</body>
</html>