<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca A. Pontes</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="icon" th:href="@{/img/biblioteca-logo.png}">
</head>
<body>
    <a th:href="@{/logout}">
        <button class="logout" sec:authorize="isAuthenticated()">Logout</button>
    </a>
    <a th:href="@{/login}">
        <button class="logout" sec:authorize="isAnonymous()">Login</button>
    </a>
    <header>
        <div th:replace="~{/shared/top::top}"></div>

        <div class="sobre" style="background-image: url(/img/universidade.png)">
            <div class="inicial">
                <div class="frase">
                    <p>As raízes do estudos são <span>amargas</span>,<br> mas seus frutos são <span>doces</span>.</p>
                </div>


                <span class="autor">- Aristóteles</span>

                <a th:href="@{/cursos}">
                    <button type="button" class="botao">comece a estudar</button>
                </a>
            </div>
        </div>

    </header>

    <div class="recursos">
        <h2>Que tal Estudar na maior qualidade possível?</h2>
        <div class="cards">
            <div>
                <img th:src="@{/img/icons8-copiar-96.png}">
                <p><b>Sala</b> disponiveis 24 horas para convesar com os seus amigos</p>

            </div>
            <div>
                <img th:src="@{/img/icons8-livro-50.png}">
                <p><b>Cursos</b> completos para estudar na hora que você quiser </p>

            </div>

            <div>
                <img th:src="@{/img/forum.png}">
                <p>Está com dificudade em algum curso? Use nosso <b>Fórum</b> para discutir seus problemas</p>
            </div>
        </div>
    </div>


    <div class="curso">

        <div class="texto">
            <p class="texto-1">Quer aprender novas linguagens?</p>
            <p class="texto-2"> Porque não acessa os nossos <b>cursos</b>!</p>
            <p class="texto-3"> Video aulas disponíveis na hora que desejar</p>
        </div>

        <div class="caixas">

            <div class="caixas-1">
                <a th:href="@{/cursos/search?buscar=java}"><p>Java</p></a>
            </div>

            <div class="caixas-2">
                <a th:href="@{/cursos/search?buscar=javascript}"><p>JavaScript</p></a>
            </div>

            <div class="caixas-3">
                <a th:href="@{/cursos/search?buscar=html}"><p>Html</p></a>
            </div>

        </div>
    </div>


    <div class="forum">

        <div class="forum_body">

            <div class="forum_1">

                <img th:src="@{/img/icons8-comentar-debate-50.png}">
                <div>
                    <p>Compartilhe o seu conhecimento com os seus colegas </p>
                    <p> ou está com dúvida?</p>
                </div>

            </div>

            <p class="forum_2"><a th:href="@{/forum}">Acesse o nosso Fórum</a></p>

        </div>
    </div>
    <div>
        <footer style="
    background: black;
    position: relative;
    width: 100%;
    height: 200px;
    color: #c2c2c2;
    text-align: center;">

            <p style="
        position: absolute;
        width: 100%;
        display: block;
        top: 50%;

    ">&copy; Copyright 2023</p>

        </footer>
    </div>
</body>
</html>