<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Curso - Biblioteca A. Pontes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/padraoCurso.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="icon" th:href="@{/img/biblioteca-logo.png}">


</head>
<body th:each="padrao: ${padrao}">
<header>
    <a  th:href="@{/logout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAuthenticated()">Logout</button></a>
    <a th:href="@{/login}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAnonymous()">Login</button></a>

    <div th:replace="~{/shared/top::top}"></div>
</header>

<div class="content">



    <div class="main-content">

        <div class="one-main">

            <img th:src="@{/img/logocurso.jpeg}"/>
            <div class="two-main">
                <div class="nome">

                       <h4 th:text="${padrao.nome}">CursoTest</h4>

                </div>

                <div class="titulo">

                      <p th:text="${padrao.titulo}">Titulo</p>
                </div>
            </div>
            <div class="inscrever"><a href="#">Inscrever-se</a></div>
        </div>

        <details class="menu-aulas">

            <summary>Aulas</summary>
            <ul>
              <li><a href="#">Aula 1</a></li>
              <li><a href="#">Aula 2</a></li>
              <li><a href="#">Aula 3</a></li>
              <li><a href="#">Aula 4</a></li>
              <li><a href="#">Aula 5</a></li>
              <li><a href="#">Aula 6</a></li>
              <li><a href="#">Aula 7</a></li>
              <li><a href="#">Aula 8</a></li>
              <li><a href="#">Aula 9</a></li>
              <li><a href="#">Aula 10</a></li>
              <li><a href="#">Aula 11</a></li>
              <li><a href="#">Aula 12</a></li>
              <li><a href="#">Aula 13</a></li>
              <li><a href="#">Aula 14</a></li>
              <li><a href="#">Aula 15</a></li>
              <li><a href="#">Aula 16</a></li>
              <li><a href="#">Aula 17</a></li>
            </ul>
        </details>




    </div>

</div>

</body>
<footer style="
background: black;
position: relative;
width: 100%;
height: 200px;
color: #c2c2c2;
text-align: center;">

    <p style="
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;

">&copy; Copyright 2023</p>

</footer>
</html>