<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Fórum - Biblioteca A. Pontes</title>
  <link rel="stylesheet" th:href="@{/css/padraoForum.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="icon" th:href="@{/img/biblioteca-logo.png}">
</head>
<body>
<header>
  <a th:href="@{/logout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAuthenticated()">Logout</button></a>
  <a th:href="@{/login}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAnonymous()">Login</button></a>

  <div th:replace="~{/shared/top::top}"></div>
</header>
<div class="content" >
  <div class="pergunta" th:each="forum:${forum}">
    <p class="tema" th:text="${forum.tema}">Tema de  algo</p>
    <p class="question" th:text="${forum.pergunta}">Pergunta muito importante</p>
  </div>

  <div class="table-responder" th:each="forum:${forum.getId()}">
    <form th:action="@{/forum/responder}" method="get">
      <label>
        <input type="hidden" th:value="${forum}" name="id">
        <textarea id="resposta" name="resposta" placeholder="Responder..."></textarea>
        <input type="submit">
      </label>
    </form>
  </div>


  <div class="respostas">
    <div class="totalRespostas"><p>Total de respostas: <span th:text="${respostas.size()}">0</span></p></div>

    <div class="caixa">
      <div class="caixas-respostas" th:each="respostas:${respostas}">
          <span class="response" th:text="${respostas.getResposta()}">Resposta de todas as coisas</span>
          <span class="user">Respondido por: <p th:text="${respostas.getUsuario().getEmail()}" >Desconhecido</p></span>
      </div>
    </div>
  </div>
</div>
<div>
  <footer style="
background: black;
position: relative;
width: 100%;
height: 200px;
color: #c2c2c2;
text-align: center;">

    <p style="
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;

">&copy; Copyright 2023</p>

  </footer>
</div>
</body>

</html>
