<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Sala - Biblioteca A. Pontes</title>
  <link rel="stylesheet" th:href="@{/css/padraoSala.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="icon" th:href="@{/img/biblioteca-logo.png}">
</head>

<body th:attr="data-logado=${logado}">
  <header>
    <a th:href="@{/logout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout"
        sec:authorize="isAuthenticated()">Logout</button></a>
    <a th:href="@{/login}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout"
        sec:authorize="isAnonymous()">Login</button></a>

    <div th:replace="~{/shared/top::top}"></div>
  </header>
  <div class="content">
    <div class="caixamensagem">
      <div class="sala">
        <p class="curso" th:text="${sala.getCurso()}">Curso</p>
        <p class="titulo" th:text="${sala.getTitulo()}">Título</p>
      </div>

      <div class="content-mensagem">
        <div class="form-mensagem-other" th:each="mensagem:${mensagem}">
          <div class="mensagem-other" th:attr="data-id=${mensagem.usuario}" >
            <p th:text="${mensagem.mensagem}">mensagem</p><br>
          </div>
        </div>
      </div>

      <div class="form" th:each="id:${sala.getId()}">
        <form th:action="@{/salas/mensagem}" method="get">
          <input type="hidden" name="id" id="id" th:value="${id}">
          <input type="text" name="mensagem" id="mensagem" class="text">
          <input type="submit" class="enviar" value="enviar">
        </form>
      </div>

    </div>
  </div>
  <script>
    const scroller = document.querySelector(".content-mensagem");
    scroller.scrollTo(0, scroller.scrollHeight);
  </script>
  <script>
    function verificarMensagem(){
      const mensagens = document.querySelectorAll(".mensagem-other");
      const logado = document.body.getAttribute("data-logado");
      mensagens.forEach(mensagem => {
        const idMensagem = mensagem.getAttribute("data-id");
        const elementPai = mensagem.parentElement
        if(logado == idMensagem){
          elementPai.classList.remove("form-mensagem-other");
          elementPai.classList.add("form-mensagem");
          mensagem.classList.remove('mensagem-other');
          mensagem.classList.add('mensagem');
        }
      })
    }
    verificarMensagem();
  </script>
</body>

</html>