<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Perfil - Biblioteca A. Pontes</title>
  <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="icon" th:href="@{/img/biblioteca-logo.png}">
</head>
<body>
<header>
    <a  th:href="@{/logout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAuthenticated()">Logout</button></a>
    <a th:href="@{/login}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAnonymous()">Login</button></a>

    <div th:replace="~{/shared/top::top}"></div>
</header>

<section class="content" th:if="${inLogado}">
    <div class="box-perfil" th:each="logado:${logado}">
        <div class="banner-perfil"><img th:src="@{/img/banner.png}"></div>

        <div class="inf-perfil">
            <div class="img-perfil"><img th:src="@{/img/perfil.jpg}" alt=""></div>
            <div class="principal">
              <p class="nome"><span th:text="${logado.nome}">Ciclano da Silva</span></p>
              <p class="email"><span th:text="${logado.email}">ciclano@email</span></p>
            </div>
        </div>
        <div class="totais">
          <p class="perfil-number">Total mensagem: <span th:text="${mensagemSize}">99</span></p>
          <p class="perfil-number"> Total de perguntas: <span th:text="${forumSize}" >99</span></p>
          <p class="perfil-number"> Total de respostas: <span th:text="${respostaSize}">99</span></p>
          <p class="perfil-number"> Total de cursos vistos: <span th:text="${cursosSize}">99</span></p>
        </div>
      </div>

</section>

<section class="content" th:if="${noLogado}">
  <div class="box-perfil">
    <div class="noLogado">
      <p>Faça o seu <a th:href="@{/login}">login</a> :)</p>
    </div>
  </div>
</section>
<div>
    <footer style="
background: black;
position: relative;
width: 100%;
height: 200px;
color: #c2c2c2;
text-align: center;">

        <p style="
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;

">&copy; Copyright 2023</p>

    </footer>
</div>
</body>
</html>