
<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Salas - Biblioteca A. Pontes</title>
    <link rel="stylesheet" th:href="@{/css/cursos.css}">
    <link rel="icon" th:href="@{/img/logo.png}">
</head>
<body>
<header th:replace="/shared/top :: top">
</header>

<main>
    <div class="barra-pesquisa">
        <div class="barra-pesquisa-form">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fff" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            <div class="pesquisa">
                <form th:action="@{/salas/search}">
                    <label>
                        <input type="text" class="text" name="buscar" placeholder="Buscar título...">
                    </label>
                    <input type="submit" class="enviar">
                </form>
            </div>
        </div>
    </div>

    <div class="tabela" th:each="listaSala:${listaSala}">
        <a th:href="@{/salas/{id}(id=${listaSala.id})}">
            <div style="position: initial;width: 100%;height: 100%">
                <p th:text="${listaSala.curso}" name="nome" class="nome"></p>
                <p th:text="${listaSala.titulo}" name="titulo" class="titulo"></p>
            </div>
        </a>
    </div>

</main>

<div>
    <footer style="
background: black;
position: relative;
width: 100%;
height: 200px;
color: #c2c2c2;
text-align: center;">

        <p style="
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;

">&copy; Copyright 2022</p>

    </footer>
</div>
</body>
</html>