<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forum - Biblioteca A. Pontes</title>
  <link rel="stylesheet" th:href="@{/css/forum.css}">
  <link rel="icon" th:href="@{/img/logo.png}">
</head>
<body>
<header th:replace="/shared/top"></header>

<section class="main-forum">
  <h3>Perguntas</h3>

  <div class="perguntas" th:each="lista:${lista}">
    <a th:href="@{/forum/{id}(id = ${lista.id})}">
      <ul>
        <li class="tema">Sobre: <span th:text="${lista.tema}"></span></li>
        <li class="ask" th:text="${lista.pergunta}">Perguntas são para serem respondidas?</li>
        <li class="respostas">Total de repostas: <span th:text="${lista.getRespostas().size()}"></span></li>
      </ul>
    </a>
  </div>
</section>

<div>
  <footer style="
background: black;
position: relative;
width: 100%;
height: 200px;
color: #c2c2c2;
text-align: center;">

    <p style="
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;

">&copy; Copyright 2022</p>

  </footer>
</div>
</body>
</html>