<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fórum - Biblioteca A. Pontes</title>
  <link rel="stylesheet" th:href="@{/css/forum.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="icon" th:href="@{/img/biblioteca-logo.png}">
</head>
<body>
<header>
  <a  th:href="@{/logout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAuthenticated()">Logout</button></a>
  <a th:href="@{/login}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAnonymous()">Login</button></a>

  <div th:replace="~{/shared/top::top}"></div>
</header>

<section class="footer-forum">
  <h3>Perguntas</h3>

  <div class="perguntas" th:each="lista:${lista}">
    <a th:href="@{/forum/{id}(id = ${lista.id})}">
        <p class="tema">Sobre: <span th:text="${lista.tema}"></span></p>
        <p class="ask" th:text="${lista.pergunta}">Perguntas são para serem respondidas?</p>
        <p class="respostas">Total de repostas: <span th:text="${lista.getRespostas().size()}"></span></p>
    </a>
  </div>
</section>
<div class="cjt-paginas" th:attr="data-paginas=${total}">
</div>
<div>
  <footer style="
background: black;
position: relative; width: 100%; height: 200px; color: #c2c2c2; text-align: center;">

    <p style="
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;

">&copy; Copyright 2023</p>

  </footer>
</div>
<script th:src="@{/js/paginacao.js}"></script>
</body>
</html>