<a th:href="@{/logout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAuthenticated()">Logout</button></a>
    <a th:href="@{/login}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAnonymous()">Login</button></a>

<div class="banner">
    <a th:href="@{/home}"><img th:src="@{/img/logo.png}" width="30" height="30" alt="logo"></a>
    <ul>
        <li><a th:href="@{/cursos}">Cursos</a></li>
        <li><a th:href="@{/forum}">Forum</a></li>
        <li><a th:href="@{/salas}">Salas</a></li>
        <li><a th:href="@{/perfil}">Perfil</a></li>
    </ul>
</div>