<a href="/logout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAuthenticated()">Logout</button></a>
    <a href="/login" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><button class="logout" sec:authorize="isAnonymous()">Login</button></a>

<div class="banner">
    <a href="/home"><img src="/img/logo.png" width="30" height="30" alt="logo"></a>
    <ul>
        <li><a href="/cursos">Cursos</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/salas">Salas</a></li>
        <li><a href="/perfil">Perfil</a></li>
    </ul>
</div>